anthropic==0.121.0
pandas==3.0.5
click==8.4.2
python-dotenv==1.2.2
email-phone-validator @ git+https://github.com/Matthew-Cassin/email-phone-validator.git@v0.1.0
contact-deduplicator @ git+https://github.com/Matthew-Cassin/contact-deduplicator.git@v0.1.0
